.addbtn {
  display: flex;
  justify-content: flex-end;
  padding-right: 2vw;
  padding-top: 1vh;
}

.example-card {
  background-color: #fafbfbad;
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  .mat-card-content {
    flex-grow: 1;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .mat-card-actions {
    align-self: flex-end;
  }
}
